{{!-- {{#if user}} --}}
<div class="jumbotron">
    <div class="form-group">
        <h1 id="message" class="card-title d-flex justify-content-between align-items-center">
        HASTA LUEGO {{{user}}}
        </h1>
    </div>
</form>
</div>
{{!-- {{#/if}} --}}

