{{!-- {{#if user}} --}}
  <div class="card">
    <div class="card-body">
      <form action="/auth/logout" method="GET">
        <p class="h2">
          BIENVENIDO
          {{{user}}}
        </p>
        <button class="btn btn-success btn-block">Cerrar
          sesión
        </button>
      </form>
    </div>
  </div>
{{!-- {{/if}} --}}