            <form onsubmit=" return addMessage(this)">
                <input type="text" id="id" placeholder="Tu email">
                <input type="text" id="nombre" placeholder="Tu nombre">
                <input type="text" id="apellido" placeholder="Tu apellido">
                <input type="number" id="edad" placeholder="Tu edad">
                <input type="text" id="alias" placeholder="Tu alias">  
                <input type="text" id="avatar" placeholder="Tu avatar">
                <div id="messages"></div>
                <input type="text" id="text" placeholder="Ingresa tu mensaje"> <button type="submit"
                    class="btn btn-primary">Enviar</button>
            </form>