
    {{> loginSuccess }}
    
    <div class="container" style="background: rgb(174, 203, 214);">
      {{> productForm}}
    </div>
    
    <div class="container" style="background: rgb(174, 203, 214);">
      {{> productList}}
    
    <h2>Centro de Mensajes</h2>
    <p id="reductionPercentage" style="font-weight: bold"></p>
    
    <div class="container" style="background: rgb(174, 203, 214);">
      {{> messageForm}}
    </div>

